/*ICOMOON*/
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon/icomoon.eot?x7ns2g');
    src:    url('fonts/icomoon/icomoon.eot?x7ns2g#iefix') format('embedded-opentype'),
        url('fonts/icomoon/icomoon.ttf?x7ns2g') format('truetype'),
        url('fonts/icomoon/icomoon.woff?x7ns2g') format('woff'),
        url('fonts/icomoon/icomoon.svg?x7ns2g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
    content: "\e900";
}
.icon-search:before {
    content: "\e901";
}
.icon-eye:before {
    content: "\e902";
}
.icon-star-empty:before {
    content: "\e903";
}
.icon-share:before {
    content: "\e904";
}
.icon-google-plus:before {
    content: "\e905";
}
.icon-facebook2:before {
    content: "\e906";
}
.icon-twitter:before {
    content: "\e907";
}
.icon-flickr:before {
    content: "\e908";
}
.icon-linkedin2:before {
    content: "\e909";
}
/* Open Sans */
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans/opensans-regular-webfont.eot');
    src: url('fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*STYLE*/
body{
	font-size: 16px;
	background-color: #ebe7df;
	font-family: 'open_sansregular', sans-serif;
}
.wrap{
	width: 960px;
	margin: auto;
}
.topbar1{
	background-color: #242424;
	height: 45px;
}
.nom{
	display: inline-block;
}
.logo{
	color: #57c5a0;
	line-height: 45px;
	font-size: 1.688rem;
}
.logo:hover{
	text-decoration: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.topbar1-right{
	float: right;
}
.search, .user{
	display: inline-block;
}
.user{
	height: 45px;
    color: #7e7e7e;
    border: 1px solid gray;
    border-top: 0;
    border-bottom: 0;
    padding: 0 10px;
    margin-left: 10px;
    box-sizing: border-box;
    float: right;
    line-height: 45px;
}
.user a{
	color: #7e7e7e;
}
.icon-search{
	color: #7e7e7e;
	line-height: 45px;
}
.champrecherche{
	background-color: #242424;
	border: 0px;
	height: 45px;
	width: 200px;
    box-sizing: border-box;
    color: white;
    padding-left: 5px;
	float: left;
}
.champrecherche:focus{
	background-color: white;
	color: black;
	-webkit-transition: background-color ease 0.2s; /* For Safari 3.1 to 6.0 */
    transition: background-color ease 0.2s;
}
.topbar2{
	background-color: white;
}
.mainmenu{
	display: inline-block;
}
.mainmenu ul li{
	display: inline-block;
	border-left: 1px solid #eeeeee;
}
.lienmenu{
	padding: 0 25px;
	line-height: 60px;
	display: inline-block;
	font-weight: bold;
	color: black;
}
.mainmenu ul li:last-child{
	border-right: 1px solid #eeeeee;
}
.wishlist{
	float: right;
	padding: 0 20px;
	line-height: 60px;
	display: inline-block;
	border-left: 1px solid #eeeeee;
}
.user-box{
	color: white;
	border-radius: 4px;
	font-size: 0.750rem;
	padding: 2px;
	margin: 5px;
}
.wishlist .icon-star-empty{
	color: black;
}
.wishlist-counter{
	background-color: #adadad;
}
.cart{
	float: right;
	padding: 0 20px;
	line-height: 60px;
	display: inline-block;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.cart .icon-cart{
	color: black;
}
.cart-counter{
	background-color: #57c5a0;
}
/*SLIDER*/
.slider2{
	overflow: auto;
}
.slider-image{
	float: left;
	margin-right: 10px;
	/*-webkit-filter: blur(25px);*/
}
.details{
	padding-top: 30px;
}
.prix{
	width: 67px;
	height: 67px;
	display: inline-block;
	background-color: #57c5a0;
	color: white;
	font-size: 0.875rem;
	line-height: 67px;
	text-align: center;
}
.slider-titre{
	font-size: 2rem;
	line-height: 3rem;
}
.slider-description{
	font-size: 1.125rem;
	line-height: 20px;
}
.slider-action{
	margin-top: 15px;
}
.slider-action-icon{
	width: 40px;
	height: 40px;
	background-color: white;
	display: inline-block;
	float: left;
	margin: 1px;
	line-height: 40px;
	text-align: center;
	color: #6e6e6e;
}
.slider-action-icon:hover {
	color: #57c5a0;
}
.slider-menu{
	background-color: #2e2e2e;
}
.slider-item{
	display: inline-block;
	width: 20%;
	height: 5px;
	background-color: black;
	border-left: 1px solid #2e2e2e;
	box-sizing: border-box;
}
.slider-item:first-child{
	background-color: #57c5a0;
}
.slider-buttons{
	height: 74px;
}
.slider-buttons-button{
	display: inline-block;
	width: 20%;
	text-align: center;
	color: #979797;
}
.slider-buttons-button h2{
	font-weight: bold;
	line-height: 37px;
}
.slider-buttons-button h3{
	font-size: 0.813rem;
}
/*SPECIAL OFFERS*/
.specials{
	background-color: #242424;
}
.specials2{
	display: flex;
	flex-direction: row;
}
.specials__box{
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	align-items: center;
	height: 213px;
	margin: 1rem 1rem 1rem 0;
}
.specials__box:last-child{
	margin-right: 0;
}
.onsale{
	background-image: url(../img/specials/1.jpg);
}
.specialoffers{
	background-image: url(../img/specials/2.jpg);
}
.musthave{
	background-image: url(../img/specials/3.jpg);
}
.specials__box--link a{
	padding: 1rem 2rem;
    display: inline-block;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 1.2rem;
	color: white;
}
/*NEW ARRIVALS*/
.newarrivals h1, .bestseller h1{
	display: inline-block;
	font-size: 1.5rem;
	margin: 2rem 0;
	color: #242424;
}
.showall{
	float: right;
	margin: 2rem 0;
}

.showall a{
	color: #bcb5a7;
	padding: 0.5rem 1rem;
	border: 1px solid #bcb5a7;
	font-weight: bold;
}
.products{
	display: flex;
}
.product{
	display: inline-block;
	flex-basis: 100%;
	margin: 1rem 1rem 1rem 0;
	background-color: white;
	position: relative;
}
.product:last-child{
	margin: 1rem 0;
}
.product a{
	display: block;
}
.product img{
	border-bottom: 1px solid #cccccc;
	width: 100%;
}
.product .prix{
	position: absolute;
	bottom: 0;
	left: 10px;
}
.product-name{
	margin-left: 87px;
	line-height: 3rem;
	font-weight: bold;
	font-size: 1.2rem;
}
.product-name a{
	color: black;
}
.onsale_box{
	width: 67px;
	height: 67px;
	display: inline-block;
	background-color: #242424;
	color: white;
	font-size: 0.875rem;
	line-height: 67px;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 10px;
}
.outofstock{
	width: 67px;
	height: 67px;
	display: inline-block;
	background-color: #f27e4b;
	color: white;
	font-size: 0.875rem;
	line-height: 33.5px;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 10px;
}
.blog-separation{
	border-color: #bcb5a7;
	border-top:0;
}
/*INFOS COMP*/
.infoscomp{
	display: flex;
}
.infoscomp-box{
	background-color: #dfdbd4;
	margin: 1rem 1rem 1rem 0;
	padding: 1rem;
	font-size: 0.8rem;
	line-height: 1.1rem;
}
.infoscomp-box:last-child {
	margin: 1rem 0;
}
.freeshipping, .testimonials {
	flex-basis: 50%;
}
.blognews {
	flex-basis: 80%;
}
.infoscomp-box h1{
	font-size: 1.2rem;
	font-weight: bold;
	margin: 1rem 0;
}
.date{
	background-color: #57c5a0;
	height: 35px;
	width: 35px;
	text-align: center;
	color :white;
	float: left;
}